<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style>
  *{
    font-family: 'Black Han Sans', sans-serif;
  }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<body>
  <div style="width: 1920px; height: 2000px; background-color: #d3d3d3;">
    <div style="width: 1080px; height: 2000px; background-color: #121212; margin: auto;">
      <!-- 이름 -->
      <div style="height: 150px; background-color: #121212; margin: auto; display: flex; align-items: center; padding: 10px 10px 10px 10px;">
        <h1 class="display-5" style="color: white;">이승렬(Lee Seungryeol)</h1>
      </div>
      <!-- <hr style="border: 3px solid white;"> -->
      <!-- 약력 -->
      <div style="height: 200px; background-color: #121212; margin: auto; padding: 10px 10px 10px 10px;">
        <h1 class="display-6" style="color: white;">&#128270;Backend Engineer, Web Developer</h1>
        <h3 style="color: white;">&#128512;정말 제가 꿈에 무대인 메이저리그로 진출해서 가는 식당마다 싸인해달라 기자들은 항상 붙어다니며 취재하고 제가 그 머~ 어~ 대통령이 된 기분이였어요 그런데 17일만에 17일만에 마이너리그로 떨어졌어요 못던져서 그만두고 그냥 확 한국으로 가버리고 싶었어요 그래서 집에 가는길에 그 맥주6개 달린거 있잖아요 맥주6개 그걸 사가지고 집으로 갔어요</h3>
      </div>
      <!-- Profile & Project -->
      <div style="height: 300px; margin: auto;">
        <div style="width: 50%; height: 300px; float: left; padding: 10px 10px 10px 10px;">
          <h1 class="display-6" style="color: white;">&#128512;Profile</h1>
          <hr width = "100%" color = "white" size="8px">
          <h3 style="color: white;">&#128512;1995.12.15 출생</h3>
          <h3 style="color: white;">&#128512;경신고등학교 졸업()</h3>
          <h3 style="color: white;">&#128187;솔데스크()</h3>
          <h3 style="color: white;">&#128512;한라대학교 졸업()</h3>
        </div>
        <div style="width: 50%; height: 300px; float: left; padding: 10px 10px 10px 10px;">
          <h1 class="display-6" style="color: white;">&#128270;Contact</h1>
          <hr width = "100%" color = "white" size="8px">
          <h3 style="color: white;">&#128512;dltmdfuf95@naver.com</h3>
          <h3 style="color: white;">&#128512;010-9065-1215</h3>
        </div>
      </div>
      <!-- Career & 자격증 -->
      <div style="height: 300px; margin: auto;">
        <div style="width: 50%; height: 300px; float: left; padding: 10px 10px 10px 10px;">
          <h1 class="display-6" style="color: white;">&#128512;Career</h1>
          <hr width = "100%" color = "white" size="8px">
          <h3 style="color: white;">&#128187;솔데스크(2020.06.01 ~ 2022.08.19)</h3>
          <h3 style="color: white;">&#128187;AkPlus(2020.06.01 ~ 2022.08.19)</h3>
        </div>
        <div style="width: 50%; height: 300px; float: left; padding: 10px 10px 10px 10px;">
          <h1 class="display-6" style="color: white;">&#128270;Certificate</h1>
          <hr width = "100%" color = "white" size="8px">
          <h3 style="color: white;">&#128512;dltmdfuf95@naver.com</h3>
          <h3 style="color: white;">&#128512;010-9065-1215</h3>
        </div>
      </div>
      <!-- blog & git -->
      <div style="height: 300px; margin: auto;">
        <div style="width: 50%; height: 300px; float: left; padding: 10px 10px 10px 10px;">
          <h1 class="display-6" style="color: white;">&#128512;Blog</h1>
          <hr width = "100%" color = "white" size="8px">
          <div class="d-flex position-relative">
            <div>
              <h5 class="mt-0" style="color: white;">dltmdfuf95.log</h5>
              <p style="color: white;">기술블로그입니다.</p>
              <a href="https://velog.io/@dltmdfuf95" class="stretched-link">Go Blog</a>
            </div>
          </div>
        </div>
        <div style="width: 50%; height: 300px; float: left; padding: 10px 10px 10px 10px;">
          <h1 class="display-6" style="color: white;">&#128270;Github</h1>
          <hr width = "100%" color = "white" size="8px">
          <div class="d-flex position-relative">
            <div>
              <h5 class="mt-0" style="color: white">github.com.CrunchMonkey</h5>
              <p style="color: white;">github입니다.</p>
              <a href="https://github.com/CrunchMonkey" class="stretched-link">Go Github</a>
            </div>
          </div>
        </div>
      </div>
      <!-- blog & git -->
      <div style="height: 300px; margin: auto;">
        <nav class="navbar" style="background-color: #121212;">
          <div class="container-fluid">
            <a class="navbar-brand"><h3 style="color: white;">Skill</h3></a>
            <form class="d-flex">
              <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
          <div style="width: 1080px">
            <div style="width: 33%; float: left; padding: 10px 10px 10px 10px;">
              <ul class="list-group" style="padding-bottom: 10px;">
                <li class="list-group-item list-group-item-action list-group-item-danger">
                  업무에도 활용해요
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A second list item
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A third list item
                </li>
              </ul>
            </div>
            <div style="width: 33%; float: left; padding: 10px 10px 10px 10px;">
              <ul class="list-group" style="padding-bottom: 10px;">
                <li class="list-group-item list-group-item-action list-group-item-primary">
                  어느정도 사용할줄 알아요
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A second list item
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A third list item
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A third list item
                </li>
              </ul>
            </div>
            <div style="width: 33%; float: left; padding: 10px 10px 10px 10px;">
              <ul class="list-group" style="padding-bottom: 10px;">
                <li class="list-group-item list-group-item-action list-group-item-success">
                  보고 이해할 수는 있어요
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A second list item
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  A third list item
                </li>
              </ul>
            </div>
          </div>
          
        </nav>
      </div>
      <!-- 하단 -->
      <div style="height: 150px; background-color: yellow; margin: auto;">

      </div>
    </div>
  </div>
</body>
</html>